{% extends "padre.twig" %}

{% block contenido %}

<div class="container">
  <div class="row">

    <header class="col">
        <h4 class="mt-3 text-muted">Listado Alumnos</h4>
    </header>

    <div class="col">

      <blockquote class="blockquote">

        {% for alumno in listadoAlumnos %}

        <p class="mt-3 text-muted">

          {# <br> #}<i class="bi bi-person" style="background-color: #7175AA62; border-radius: 20%;"></i>
          {{alumno['nombre']}} {# <br> #}

        </p>

        {% endfor %}

      </blockquote>

    </div>

    <div class="col">

      <form action="/mvc2/alumnos" method="post">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
          <input type="submit" class="btn btn-primary" value="Agregar">
        </div>
      </form>

    </div>

  </div>
</div>

{% endblock %}