{% extends 'padre.twig' %}

{% block contenido %}

<div class="container">
    <div class="row">

        <h1>Ayuda</h1>

        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Necesitas Ayuda!</h1>
                <p class="fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio in, maxime mollitia quibusdam dolorum ad magnam nam, hic nesciunt quasi facilis id sunt nulla vero dolore perspiciatis. Mollitia, ipsum impedit.</p>
                <a class="btn btn-primary btn-lg" href="#!">Ayuda</a>
            </div>
        </div>
        
        <div class="text-center">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus, aliquam, atque, autem blanditiis consequuntur
                cumque debitis doloremque dolorum eaque eius enim error
                exercitationem fugiat fugit harum hic id illo impedit
                inventore ipsa ipsum itaque iure laboriosam libero magni
                maxime molestiae nam natus necessitatibus nemo neque
                nihil nostrum numquam odio officia omnis optio pariatur
                perferendis perspiciatis placeat quae quam quas quia quis
                quod ratione repellendus reprehenderit repudiandae rerum
                saepe sapiente sequi similique sint soluta sunt suscipit
                tempore totam unde velit vero voluptas voluptate voluptates
                voluptatum.
            </p>
        </div>

        <h3>
            {{valor}}
        </h3>

    </div>
</div>

{% endblock %}