{% extends "padre.twig" %}

{% block contenido %}

<div class="container">
    <div class="row">

        <h1 class="col-9">
            Lista
        </h1>

        {% for lista in listas %}

        <div class="grid-container m-3">
            <div class="card-group col-12">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{lista['nombre']}}</h5>
                        <img src="{{lista['imagen']}}" class="img-fluid card-img-top" alt="Imagen">
                        <p class="card-text">{{lista['descripcion']}}</p>
                        <p class="card-text">${{lista['precio']}}</p>
                        <button type="button" class="btn btn-outline-success">Comprar</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}