<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
<header>San Juan Tec</header>  
    <h1>
    esto pertenece a la vista padre
    </h1>
    
    {%block contenido %}
    {%endblock%}

<footer>Grupo php vista padre </footer>
</body>
</html>